#####################################################################################################################
[gcode_macro HOME_AND_Z_TILT] # homes the print head and executed z-tilt x2
gcode:

  G28           #     Move to origin: G28 [X] [Y] [Z]
  M400          #     Wait for current moves to finish: M400
  Z_TILT_ADJUST #     Executes z_tilt_adjust
  M400          #     Wait for current moves to finish: M400
  Z_TILT_ADJUST #     Executes z_tilt_adjust
  G1 X250 F6000 #     Move to 250,250,25
  G1 Y250 F6000
  G1 Z10 F1500           
  M400          #     Wait for current moves to finish: M400

#####################################################################################################################
[gcode_macro PURGE]
gcode:
  {% if "xyz" not in printer.toolhead.homed_axes %}   # check to see if xyz are homed, if not, execute HOME_AND_Z_TILT
   HOME_AND_Z_TILT
  {% endif %}
  
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
  # Start bed heating
  M190 S{BED_TEMP}      #     Set bed temperature and wait: M190 S<temperature>                    
  M109 S{EXTRUDER_TEMP}             #     Set extruder temperature and wait: M109 [T<index>] S<temperature>                                 
  # HOME_AND_Z_TILT       #     homes the print head and executed z-tilt x2                                 
  
  M83
  G92 E0                # Reset extruder
  G0 F6000              # Set travel speed
  G90                   # Absolute positioning
  G0 X250 Y-37          # Move to purge position
  G1 E25 F600           #EXTRUDE
  G1 E-5 F600           #RETRACT
  G92 E0



  # G92 E0                                                                              # Reset extruder
  # G0 F{travel_speed}                                                                  # Set travel speed
  # G90                                                                                 # Absolute positioning
  # G0 X{purge_x_center} Y{purge_y_origin}                                              # Move to purge position            G0 Z{purge_height}                                                                  # Move to purge Z height            M83                                                                                 # Relative extrusion mode
  # G1 E{tip_distance} F{purge_move_speed}                                              # Move filament tip
  # G1 X{purge_x_center + purge_amount} E{purge_amount} F{purge_move_speed}             # Purge line
  # {RETRACT}                                                                           # Retract
  # G0 X{purge_x_center + purge_amount + 10} F{travel_speed}                            # Rapid move to break string
  # G92 E0                                                                              # Reset extruder distance
  # M82                                                                                 # Absolute extrusion mode
  # G0 Z{purge_height * 2} F{travel_speed}                                              # Z hop

#####################################################################################################################
[gcode_macro PRINT_START]
gcode:
  {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
  {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(195)|float %}
  # Start bed heating
  M190 S{BED_TEMP}      #     Set bed temperature and wait: M190 S<temperature>                    
  M109 S{EXTRUDER_TEMP}             #     Set extruder temperature and wait: M109 [T<index>] S<temperature>                                 
  G28                   #     homes the print head                               
  G90                   #     Use absolute/relative coordinates: G90, G91                               
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  M109 S{EXTRUDER_TEMP}   #     Reset hotend to the temp in gcode
  PURGE
  CLEAN_NOZZLE
  LINE_PURGE

#####################################################################################################################

[gcode_macro PRINT_END]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # CLEAN_NOZZLE
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84
    
# [gcode_macro PRINT_END]
# gcode:
#     # safe anti-stringing move coords
#     {% set th = printer.toolhead %}
#     {% set x_safe = th.position.x + 10 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
#     {% set y_safe = th.position.y + 10 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
#     {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
# #    SAVE_GCODE_STATE NAME=STATE_PRINT_END
#     M400                           ; wait for buffer to clear
#     G92 E0                         ; zero the extruder
#     G1 E-3.0 F1800                 ; retract filament
#     TURN_OFF_HEATERS
#     G90                                      ; absolute positioning
#     G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
#     # G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
#     G0 X{th.axis_maximum.x - 20} Y{th.axis_maximum.y - 20} F3600  ; park nozzle at rear

#     M107                                     ; turn off fan
#     BED_MESH_CLEAR
#     # RESTORE_GCODE_STATE NAME=STATE_PRINT_END


#####################################################################################################################
# [gcode_macro G32]
# gcode:
#   #SAVE_GCODE_STATE NAME=STATE_G32
#   # G90
#   SET_PIN PIN=caselight VALUE=1
#   M104 S150
#   # M190 S65
#   G28
#   CLEAN_NOZZLE
#   #SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0   
#   # STATUS_LEVELING
#   #G28 
#   QUAD_GANTRY_LEVEL
#   G28
#   M109 S220
#   CLEAN_PURGE_NOZZLE
#   G0 X150 Y150 Z10 F3600
#   # RESTORE_GCODE_STATE NAME=STATE_G32

#####################################################################################################################

# [gcode_macro PRINT_START]
# gcode:

#   {% set temp_bed     = params.BED|int %}     
#   {% set temp_hotend  = params.HOTEND|int %}  
#   M190 S{temp_bed}                           
#   M109 S150  #     Set extruder temperature and wait: M109 [T<index>] S<temperature>                                 
#   G32                                         
#   G90        #     Use absolute/relative coordinates: G90, G91                               
#   # REset hotend to the temp in gcode
#   M109 S{temp_hotend}                         #Set temp and wait

#####################################################################################################################

# [gcode_macro PRINT_END]
# gcode:
#     # safe anti-stringing move coords
#     {% set th = printer.toolhead %}
#     {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
#     {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
#     {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
# #    SAVE_GCODE_STATE NAME=STATE_PRINT_END
#     M400                           ; wait for buffer to clear
#     G92 E0                         ; zero the extruder
#     G1 E-3.0 F1800                 ; retract filament
#     TURN_OFF_HEATERS
#     G90                                      ; absolute positioning
#     G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
#     G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
#     M107                                     ; turn off fan
#     SET_PIN PIN=caselight VALUE=0.1
#     BED_MESH_CLEAR
#     RESTORE_GCODE_STATE NAME=STATE_PRINT_END

######################################################################################################################

# [gcode_macro TEST_TEMP]
# gcode:
#   m104 s65 
#   #g4 p18000 
#   #m104 s0
#   m140 s40


######################################################################################################################

# G-Code commands

# Klipper supports the following standard G-Code commands:

#     Move (G0 or G1): G1 [X<pos>] [Y<pos>] [Z<pos>] [E<pos>] [F<speed>]
#     Dwell: G4 P<milliseconds>
#     Move to origin: G28 [X] [Y] [Z]
#     Turn off motors: M18 or M84
#     Wait for current moves to finish: M400
#     Select tool: T<index>
#     Use absolute/relative distances for extrusion: M82, M83
#     Use absolute/relative coordinates: G90, G91
#     Set position: G92 [X<pos>] [Y<pos>] [Z<pos>] [E<pos>]
#     Set speed factor override percentage: M220 S<percent>
#     Set extrude factor override percentage: M221 S<percent>
#     Set acceleration: M204 S<value>
#     Get extruder temperature: M105
#     Set extruder temperature: M104 [T<index>] [S<temperature>]
#     Set extruder temperature and wait: M109 [T<index>] S<temperature>
#     Set bed temperature: M140 [S<temperature>]
#     Set bed temperature and wait: M190 S<temperature>
#     Set fan speed: M106 S<value>
#     Turn fan off: M107
#     Emergency stop: M112
#     Get current position: M114
#     Get firmware version: M115
